.header-logo{
    display: flex;
    justify-content: space-between;
    img{
        height: 6rem;
        width: 6rem;
    }
    .routes{
        margin-top: 1rem;
        display: contents;
        a{
            text-decoration: none;
            color: #555;
            font-family: "Roboto";
            font-weight: 300;
            font-size: 25px;
        }
    }
}